<ion-content class="ion-padding">
  <ion-icon name="arrow-back"></ion-icon>
  <div class="container">
    <h2 class="title">Ubah Password</h2>

    <p>
      Kata sandi anda harus paling tidak 6 karakter dan harus menyertakan
      kombinasi angka, huruf, dan karakter khusus.
    </p>

    <!-- Current Password -->
    <ion-item>
      <ion-input type="password" placeholder="Kata sandi saat ini"></ion-input>
    </ion-item>

    <!-- New Password -->
    <ion-item>
      <ion-input type="password" placeholder="Kata sandi baru"></ion-input>
    </ion-item>

    <!-- Forgot Password Link -->
    <p class="forgot-password">
      <a href="#">Lupa kata sandi anda?</a>
    </p>

    <!-- Change Password Button -->
    <ion-button class="change-password-btn"> ubah password </ion-button>
  </div>
</ion-content>
