<ion-content class="background">
  <div class="header">
    <ion-avatar>
      <img src="assets/Cat.png" alt="User Avatar" />
    </ion-avatar>
    <h3>Username</h3>
  </div>
  <p>History</p>
  <ion-icon src="/assets/Calendar.svg"></ion-icon>

  <div class="card">
    <div class="chart-status-container">
      <div class="donut-chart-container">
        <div class="donut-chart">
          <div class="score">14/17</div>
        </div>
        <a href="#">Detail</a>
      </div>

      <div class="status">
        <div class="status-item">
          <h4>Jumat, 25 Okt 2024</h4>
          <div class="kiw">
            <span class="dot purple"></span>
            <span>Kanan</span>
          </div>
          <span class="label red">Perlu diperhatikan</span>
        </div>
        <div class="status-item">
          <div class="kiw">
            <span class="dot green"></span>
            <span>Kiri</span>
          </div>
          <span class="label orange">Cukup baik</span>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="chart-status-container">
      <div class="donut-chart-container">
        <div class="donut-chart">
          <div class="score">14/17</div>
        </div>
        <a href="#">Detail</a>
      </div>
      <div class="status">
        <div class="status-item">
          <h4>Sabtu, 26 Okt 2024</h4>
          <div class="kiw">
            <span class="dot purple"></span>
            <span>Kanan</span>
          </div>
          <span class="label red">Perlu diperhatikan</span>
        </div>
        <div class="status-item">
          <div class="kiw">
            <span class="dot green"></span>
            <span>Kiri</span>
          </div>
          <span class="label orange">Cukup baik</span>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="chart-status-container">
      <div class="donut-chart-container">
        <div class="donut-chart">
          <div class="score">14/17</div>
        </div>
        <a href="#">Detail</a>
      </div>
      <div class="status">
        <div class="status-item">
          <h4>Minggu, 27 Okt 2024</h4>
          <div class="kiw">
            <span class="dot purple"></span>
            <span>Kanan</span>
          </div>
          <span class="label red">Perlu diperhatikan</span>
        </div>
        <div class="status-item">
          <div class="kiw">
            <span class="dot green"></span>
            <span>Kiri</span>
          </div>
          <span class="label orange">Cukup baik</span>
        </div>
      </div>
    </div>
  </div>
  <!-- Penutupan div.card -->
</ion-content>
