<ion-content class="ion-padding">
  <div class="container">
    <!-- Logo -->
    <div class="logo">
      <img src="assets/Logo ver.2 1.svg" alt="Kinexis Logo" />
    </div>

    <!-- Registration Form -->
    <h2 class="title">LOGIN</h2>

    <ion-item>
      <ion-input type="email" placeholder="Email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="password" placeholder="Password" required></ion-input>
    </ion-item>

    <ion-button class="btn">Sign In</ion-button>

    <!-- Sign In Redirect -->
    <div class="login-redirect">
      <p>Belum punya akun? <a href="page2.page.html">Sign Up</a></p>
      <p>
        style="text-decoration: underline" <a href="page3.page.html"></a>Sign In
      </p>
    </div>
  </div>
</ion-content>
