ion-content {
  --ion-background-color: #e9efec;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: white;
  border-radius: 0 0 10px 10px;
  width: 360px;
  height: 248px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  font-family: poppins;
  margin-left: auto;
  margin-right: auto;
}

.purple {
  background-color: #a49ed7;
}

.green {
  background-color: #9ed7c1;
}

/* Kontainer utama untuk donut-chart dan status */
.chart-status-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 10px 0px;
  box-sizing: border-box;
}

/* Kontainer untuk chart donut */
.donut-chart-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: Arial, sans-serif;
  width: 200px;
  margin-left: 20px;
}

.donut-chart {
  width: 120px;
  height: 120px;
  background: conic-gradient(
    #9ed7c1 0deg,
    #93e4c1 180deg,
    #a49ed7 140deg,
    #c1b8ea 300deg
  );
  border-radius: 50%;
  position: relative;
  margin-right: auto;
  margin-left: 15px;
}

.donut-chart::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 20px;
  width: 80px;
  height: 80px;
  background-color: #fff;
  border-radius: 50%;
}

.score {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  color: #333;
  font-weight: bold;
}

p {
  text-align: center;
  font-size: 20px;
  font-family: poppins;
}

a {
  color: #16423c;
  font-style: italic;
  text-decoration: underline;
  font-size: 12px;
  margin-left: 0;
  margin-right: auto;
}

.status {
  display: flex;
  flex-direction: column;
}

.status-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 12px;
  margin-right: 30px;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 5px;
  margin-top: 5px;
}

.status-item span {
  display: flex;
  align-items: center;
}

.label {
  font-size: 11px;
  padding: 3px 8px;
  border-radius: 12px;
  margin-top: 5px;
}

.red {
  background-color: #f36d6d;
  width: 109px;
  height: 18px;
  font-size: 10px;
  color: #000;
}

.orange {
  background-color: #ffb86c;
  font-size: 11px;
  width: 109px;
  height: 18px;
  color: #000;
}

.detail-link {
  color: #6a9c89;
  font-size: 11px;
  text-decoration: underline;
  margin-top: 25px;
  margin-left: 0;
}

span {
  font-size: 11px;
}

h4 {
  font-size: 11px;
  text-decoration: underline;
  color: #333;
}

h3 {
  font-size: 18px;
  color: #333;
}

p {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  flex: 1;
}

.anu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px;
  padding: 10px;
}

// card kedua

ion-title {
  font-weight: bold;
  font-family: poppins;
  font-size: 15px;
  margin-top: 20px;
}

.score-table {
  padding: 16px;
  background-color: #f8f8f8;
  border-radius: 16px;
}

.table-header {
  color: #888;
  padding-bottom: 8px;
  border-bottom: 1px solid #ddd;
}

.table-row {
  padding: 8px 0;
  border-bottom: 1px solid #eee;
}

.parameter {
  display: flex;
  align-items: center;
}

.icon-dot {
  font-size: 12px;
  color: #00796b; /* Warna hijau */
  margin-right: 8px;
}

.text-center {
  text-align: center;
  font-style: italic;
  color: #555;
}

.kiw {
  display: flex;
  align-items: flex-start;
}
