<ion-toolbar color="light">
  <ion-title class="title">Scan Video</ion-title>
  <ion-buttons slot="end">
    <ion-button>
      <ion-icon name="close-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content class="content">
  <div class="scan-container">
    <div class="video-box">
      <ion-icon name="add-outline" class="add-icon"></ion-icon>
    </div>
    <ion-button expand="block" class="scan-button">Scan</ion-button>
  </div>

  <div class="instructions">
    <h3>Instructions:</h3>
    <ol>
      <li>Make sure you have checked the last test</li>
      <li>Follow the guide in the video</li>
      <li>Checks on scanning</li>
    </ol>
  </div>
</ion-content>

<ion-tab-bar color="light">
  <ion-tab-button tab="home">
    <ion-icon name="home-outline"></ion-icon>
  </ion-tab-button>

  <ion-tab-button tab="analytics">
    <ion-icon name="pulse-outline"></ion-icon>
  </ion-tab-button>

  <ion-tab-button tab="documents">
    <ion-icon name="document-text-outline"></ion-icon>
  </ion-tab-button>

  <ion-tab-button tab="profile">
    <ion-icon name="person-outline"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>
